.layout {
  min-height: 100vh;
  background: white;
  color: #111827;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.main {
  width: 100%;
  flex: 1;
}

.content {
  width: 100%;
}
